@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

Body {
  Height: 100vh;
  Background: Radial-gradient(Ellipse at center, #002341 0%, #000000 100%);
  Overflow: hidden;
}

	

.Warn-Text {
  border-style: solid;
  border-color: #aaf0d2;
  background-color: #002341;
  border-spacing: 20px;
  position: absolute;
  /* from here */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  /* to here */
  /* This (^) code allows you center the text! */
  text-align: center;
  font-family: 'Press Start 2P';
  color: #67e4af;
}
