@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

Body, HTML {
	Height: 100%;
	Margin: 0px;
	Padding: 0px;
	Border: 0px;
}

@Font-Face {

}

* {
  box-sizing: border-box;
}


.bg-image {
	background-image: url("images/bg_starry.png");
	Height: 100%;
	-webkit-filter:blur(4px);
}

.Warn-Text {
  background-color: rgb(0, 10, 15);
  color: #aaf0d2;
  font-family: 'Press Start 2P';
  border: 10px solid #aaf0d2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  padding: 15px;
  text-align: center;
}
